name: drupal
apiVersion: v2
type: application
version: 2.0.0-beta1
appVersion: 6.1.4
description: Helm Chart for deploying an enterprise-grade Drupal environment.
keywords:
- cms
- drupal
- http
- php
- web
home: http://www.drupal.org/project/drupal
icon: https://www.drupal.org/files/druplicon-small.png
sources:
- https://github.com/drupalwxt/helm-drupal
maintainers:
- name: sylus
  email: william.hearn@canada.ca
- name: zachomedia
  email: zachary.seguin@canada.ca
engine: gotpl
dependencies:
  - name: mysql
    version: 14.0.3
    repository: https://charts.bitnami.com/bitnami
    alias: mysql
    condition: mysql.enabled
  - name: postgresql
    version: 15.5.38
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: solr
    version: 7.5.1
    repository: https://charts.bitnami.com/bitnami
    condition: solr.enabled
  - name: valkey
    version: 0.9.3
    repository: https://valkey-io.github.io/valkey-helm
    alias: redis
    condition: redis.enabled
  - name: varnish
    version: 0.2.5
    repository: https://drupalwxt.github.io/helm-drupal
    condition: varnish.enabled
