# When installing with MinIO

## Drupal
## Ref: https://github.com/drupalwxt/helm-drupal
drupal:
  ## Drupal image version
  ## ref: https://hub.docker.com/drupalwxt/site-wxt/tags/
  ##
  image: drupalwxt/site-wxt
  tag: 4.0.0

  ## Site configuration
  ##
  profile: wxt
  siteEmail: admin@example.com
  siteName: Drupal Install Profile (WxT)

  ## User of the application
  ##
  username: admin

  ## Application password
  ##
  ## password: password

  # php-fpm healthcheck
  # Requires https://github.com/renatomefi/php-fpm-healthcheck in the container.
  # (note: official images do not contain this feature yet)
  healthcheck:
    enabled: true

  # Switch to canada.ca theme (only used if install and/or reconfigure are enabled)
  # Common options include: theme-wet-boew, theme-gcweb-legacy
  wxtTheme: theme-gcweb

  ## Extra settings.php settings
  ##
  extraSettings: ''
  #  |-
  #  $settings['trusted_host_patterns'] = ['^example\.com$'];

  ## Extra CLI scripts
  ##
  extraInstallScripts: ''
  #  |-
  #  drush config-set system.performance js.preprocess 0 -y;
  #  drush config-set system.performance css.preprocess 0 -y;

  # Install Drupal automatically
  install: true

  # Run migrations for default content
  migrate: true

  # Reconfigure on upgrade
  reconfigure: true

  # php-fpm healthcheck
  # Requires https://github.com/renatomefi/php-fpm-healthcheck in the container.
  # (note: official images do not contain this feature yet)
  healthcheck:
    enabled: true

## Nginx
## Ref: https://github.com/drupalwxt/helm-drupal
nginx:
  image: drupalwxt/site-wxt
  tag: 4.0.0-nginx

  # Set your cluster's DNS resolution service here
  resolver: 10.0.0.10

## Redis
## Ref: https://github.com/bitnami/charts/tree/master/bitnami/redis
redis:
  enabled: true

## Varnish
## Ref: https://github.com/StatCan/charts/tree/master/stable/varnish
varnish:
  enabled: true

## MySQL
## Ref: https://github.com/bitnami/charts/tree/master/bitnami/mysql
mysql:
  imageTag: 5.7.28
  enabled: true
  mysqlPassword: testPassword

  persistence:
    enabled: true
    storageClass: managed-premium
    size: 256Gi

## ProxySQL
## Ref: https://github.com/drupalwxt/helm-drupal
proxysql:
  enabled: false

## PostgreSQL
## Ref: https://github.com/bitnami/charts/tree/master/bitnami/postgresql
postgresql:
  enabled: false

## PGBouncer
## Ref: https://github.com/drupalwxt/helm-drupal
pgbouncer:
  enabled: false

# Files: object storage
#
# Use Minio for object storage by default.
# You can use any S3 compatible object storage.
# Also:
#   - minio
#   - s3
#   - none
files:
  provider: minio

## MINIO
## Ref: https://github.com/minio/charts
minio:
  enabled: true

  persistence:
    enabled: true

  defaultBucket:
    enabled: true

##
## AZURE EXAMPLE
##
# files:
#   cname:
#     enabled: true
#     hostname: wxt.blob.core.windows.net

# minio:
#   clusterDomain: cluster.cumulonimbus.zacharyseguin.ca
#   # Enable the Azure Gateway mode
#   azuregateway:
#     enabled: true

#   # Access Key should be set to the Azure Storage Account name
#   # Secret Key should be set to the Azure Storage Account access key
#   accessKey: STORAGE_ACCOUNT_NAME
#   secretKey: STORAGE_ACCOUNT_ACCESS_KEY

#   # Disable creation of default bucket.
#   # You should pre-create the bucket in Azure.
#   defaultBucket:
#     enabled: false
#     name: wxt

#   # We want a cluster ip assigned
#   service:
#     clusterIP: ''

#   # We don't need a persistent volume, since it's stored in Azure
#   persistence:
#     enabled: false
