## Configure Ingress resource that allow you to access the Solr installation
## Set up the URL
## ref: http://kubernetes.io/docs/user-guide/ingress/
##
ingress:
  enabled: false
  # className: nginx
  annotations: {}
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

## Configure Istio
## ref: http://istio.io
##
destinationRule:
  enabled: false
  mode: DISABLE

## Solr
## Ref: https://github.com/drupalwxt/helm-drupal/tree/master/solr
replicas: 1
