name: Release Charts

on:
  push:
    branches: [ main ]

jobs:
  release:
    strategy:
      matrix:
        database: [ mysql, postgresql ]

    uses: ./.github/workflows/_helm-ci.yml
    with:
      database: ${{ matrix.database }}
      run_release: true
