name: Test Helm Charts

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        database: [ mysql, postgresql ]

    uses: ./.github/workflows/_helm-ci.yml
    with:
      database: ${{ matrix.database }}
