name: Test Helm Charts
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Helm linting
      run: |
        ./test/lint.sh
